[workspace]
default-members = ["bin/node"]
members = [
  "bin/node",
  "bin/node",
  #    "cli",
  "frame/crowdloan",
  "frame/rws",
  "frame/launch",
  "frame/datalog",
  "frame/liability",
  "frame/lighthouse",
  "frame/digital-twin",
  #    "io",
  "primitives",
  "protocol",
  "rpc",
  "runtime/local",
  "runtime/alpha",
  "runtime/main",
  "runtime/ipci",
  "service",
]

exclude = ["vendor"]

# Enhanced features resolver
# https://github.com/rust-lang/cargo/issues/1197
resolver = "2"

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
