[workspace]
default-members = [ "bin/node" ]
members = [
    "bin/node",
    "bin/node/rpc",
    "bin/node/service",
    "bin/bench",
    "cli",
    "frame/rws",
    "frame/launch",
    "frame/datalog",
    "frame/datalog/xcm",
    "frame/liability",
    "frame/lighthouse",
    "frame/digital-twin",
    "frame/staking",
    "io",
    "primitives",
    "protocol",
    "protocol/examples/reqres",
	"protocol/examples/cli",
    "runtime/local",
    "runtime/alpha",
    "runtime/main",
    "runtime/ipci",
    "substrate-ros/api",
    "substrate-ros/msgs",
]

exclude = [
    "vendor",
]

# Enhanced features resolver
# https://github.com/rust-lang/cargo/issues/1197
resolver = "2"

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
