[workspace]
default-members = [ "bin/node/cli" ]
members = [
    "bin/node/cli",
    "bin/node/ipci-runtime",
    "bin/node/robonomics-runtime",
    "bin/node/robonomics-runtime/parachain",
    "robonomics/frame/rws",
    "robonomics/frame/launch",
    "robonomics/frame/datalog",
    "robonomics/frame/datalog/xcm",
    "robonomics/frame/liability",
#    "robonomics/protocol",
#    "robonomics/cli",
#    "robonomics/io",
    "substrate-ros/api",
    "substrate-ros/msgs",
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
