[workspace]
default-members = [ "bin/node" ]
members = [
    "bin/node",
    "bin/node/cli",
    "bin/node/bench",
    "bin/node/runtime",
    "bin/node/runtime/parachain",
    "robonomics/frame/rws",
    "robonomics/frame/launch",
    "robonomics/frame/datalog",
    "robonomics/frame/datalog/xcm",
    "robonomics/frame/liability",
    "robonomics/frame/lighthouse",
    "robonomics/frame/digital-twin",
    "robonomics/protocol",
    "robonomics/cli",
    "robonomics/io",
    "substrate-ros/api",
    "substrate-ros/msgs",
]

exclude = [
    "vendor",
]

# Enhanced features resolver
# https://github.com/rust-lang/cargo/issues/1197
resolver = "2"

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
