[workspace]
default-members = [ "bin/node/cli" ]
members = [
    "bin/subkey",
    "bin/node/cli",
    "bin/node/ipci-runtime",
    "bin/node/robonomics-runtime",
    "robonomics/frame/datalog",
    "robonomics/frame/liability",
    "robonomics/protocol",
    "robonomics/cli",
    "robonomics/io",
    "substrate-ros/api",
    "substrate-ros/msgs",
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
