[workspace]
default-members = [ "bin/node/cli" ]
members = [
    "bin/node/cli",
    "bin/node/runtime",
    "bin/node/runtime/parachain",
    "robonomics/frame/rws",
    "robonomics/frame/launch",
    "robonomics/frame/datalog",
    "robonomics/frame/datalog/xcm",
    "robonomics/frame/liability",
    "robonomics/frame/digital-twin",
    "robonomics/protocol",
    "robonomics/cli",
    "robonomics/io",
    "substrate-ros/api",
    "substrate-ros/msgs",
]

exclude = [
    "vendor",
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
