[package]
name = "node-cli"
version = "0.22.0"
authors = ["Airalab <research@aira.life>"]
description = "Robonomics node implementation in Rust & Substrate."
build = "build.rs"
edition = "2018"
license = "Apache-2.0"
homepage = "https://robonomics.network"
repository = "https://github.com/airalab/robonomics" 
default-run = "robonomics"

[badges]
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "airalab/robonomics" }
is-it-maintained-open-issues = { repository = "airalab/robonomics" }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "robonomics"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# third-party dependencies
serde = { version = "1.0.106", features = ["derive"]}
codec = { package = "parity-scale-codec", version = "1.3.5" }
structopt = { version = "0.3.8", optional = true }
hex-literal = "0.3.1"
log = "0.4"

# primitives
node-primitives = { path = "../primitives", default-features = false }
sp-authority-discovery = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-consensus-babe = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-session = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-offchain = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-timestamp = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-trie = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "master" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "master" }

# client dependencies
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-chain-spec = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-client-db = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-consensus = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-consensus-babe = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-consensus-slots = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-finality-grandpa = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-informant = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-keystore = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-network = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-offchain = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-service = { git = "https://github.com/paritytech/substrate", branch = "master", default-features = false }
sc-tracing = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-telemetry = { git = "https://github.com/paritytech/substrate", branch = "master" }

# frame dependencies
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "master" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "master" }

# cumulus dependencies
cumulus-primitives = { git = "https://github.com/paritytech/cumulus", branch = "master", optional = true }
cumulus-consensus = { git = "https://github.com/paritytech/cumulus", branch = "master", optional = true }
cumulus-collator = { git = "https://github.com/paritytech/cumulus", branch = "master", optional = true }
cumulus-network = { git = "https://github.com/paritytech/cumulus", branch = "master", optional = true }
cumulus-service = { git = "https://github.com/paritytech/cumulus", branch = "master", optional = true }

# polkadot dependencies
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "master", optional = true }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", branch = "master", optional = true }
polkadot-service = { git = "https://github.com/paritytech/polkadot", branch = "master", optional = true }
polkadot-cli = { git = "https://github.com/paritytech/polkadot", branch = "master", optional = true }

# node-specific dependencies
node-rpc = { path = "../rpc" }
robonomics-runtime = { path = "../robonomics-runtime" }
ipci-runtime = { path = "../ipci-runtime" }
robonomics-parachain-runtime = { path = "../robonomics-runtime/parachain", optional = true }
sc-executor = { git = "https://github.com/paritytech/substrate", branch = "master" }
sc-rpc = { git = "https://github.com/paritytech/substrate", branch = "master" }

# CLI-specific dependencies
sc-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }

# Browser bundle build support
wasm-bindgen = { version = "0.2.69", optional = true }
wasm-bindgen-futures = { version = "0.4.19", optional = true }
substrate-browser-utils = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }

# Robonomics-specific dependencies
rosrust = { version = "0.9.5", optional = true }
substrate-ros-api = { path = "../../../substrate-ros/api", optional = true }
#robonomics-cli = { path = "../../../robonomics/cli", optional = true }

[build-dependencies]
ipci-runtime = { path = "../ipci-runtime" }
robonomics-runtime = { path = "../robonomics-runtime" }
sc-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
polkadot-cli = { git = "https://github.com/paritytech/polkadot", branch = "master", optional = true }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", branch = "master", optional = true }
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "master" }
#robonomics-cli = { path = "../../../robonomics/cli", optional = true }
vergen = { version = "3.1.0", optional = true }
structopt = { version = "0.3.8", optional = true }

[features]
default = [
    "cli",
    "wasmtime",
    "parachain",
]

## Enable parachain integration.
parachain = [
  "robonomics-parachain-runtime",
    "cumulus-primitives",
    "cumulus-consensus",
    "cumulus-collator",
    "cumulus-network",
    "cumulus-service",
    "polkadot-primitives",
    "polkadot-parachain",
    "polkadot-service",
]

## Enable Wasmtime virtual machine.
wasmtime = [
    "sc-service/wasmtime",
    "sc-cli/wasmtime",
]

## Enable Console Line Interface basic features.
cli = [
    "sc-cli",
    "vergen",
    "structopt",
    "polkadot-cli",
    "sc-service/db",
#    "robonomics-cli",
]

## Enable browser bundle features.
browser = [
    "wasm-bindgen",
    "wasm-bindgen-futures",
    "substrate-browser-utils",
]

## Enable ROS integration: exports to ROS topics and services for Robonomics communication.
# To build with it install ROS (http://wiki.ros.org/melodic/Installation) before.
# It also require roscore service to be launched.
ros = [
    "rosrust",
    "substrate-ros-api",
#    "robonomics-cli/ros",
]

## Enable runtime benchmarking support.
runtime-benchmarks = [
    "robonomics-runtime/runtime-benchmarks",
    "ipci-runtime/runtime-benchmarks",
    "frame-benchmarking-cli",
    "frame-benchmarking",
]
