
[package]
name = "robonomics-protocol"
description = "Robonomics Network protocol library."
version = "0.12.0"
authors = ["Airalab <research@aira.life>"]
edition = "2018"

[dependencies]
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
codec = { package = "parity-scale-codec", version = "2.3", features = ["derive"] }
async-trait = "0.1.30"
derive_more = "0.99.11"
futures-timer = "3.0.2"
# substrate-subxt = { git = "https://github.com/paritytech/substrate-subxt", rev="c19d2e6", default-features = false, features = ["tokio02"] }
# substrate-subxt-proc-macro = { git = "https://github.com/paritytech/substrate-subxt"}
# subxt = { git = "https://github.com/paritytech/subxt", rev="c19d2e6", default-features = false, features = ["tokio02"] }
# subxt = "0.17.0"
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
libp2p = "0.40.0"
libp2p-swarm = "0.31.0"
futures = "0.3.15"
bincode = "1.3.1"
log = "0.4.11"
jsonrpc-core = "18.0.0"
jsonrpc-derive = "18.0.0"
jsonrpc-pubsub = "18.0.0"
jsonrpc-core-client = "18.0.0"
sc-rpc-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
rand = "0.8.4"
rustc-hex = "2.1.0"
rust-base58  = "0.0.4"
chrono = "0.4"
# ???
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
robonomics-primitives = { path = "../primitives" }
local-runtime = { path = "../runtime/local" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sc-transaction-pool-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16"}
sc-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sc-service = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
sc-executor = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16" }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.16"}
