[package]
name = "robonomics-node"
version = "1.8.2"
authors = ["Airalab <research@aira.life>"]
description = "Robonomics node implementation in Rust & Substrate."
edition = "2018"
license = "Apache-2.0"
homepage = "https://robonomics.network"
repository = "https://github.com/airalab/robonomics"
default-run = "robonomics"

[badges]
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "airalab/robonomics" }
is-it-maintained-open-issues = { repository = "airalab/robonomics" }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "robonomics"
path = "src/main.rs"

[dependencies]
parity-util-mem = { version = "0.10.2", default-features = false, features = ["jemalloc-global"] }
robonomics-service = { path = "service", default-features = false }

[features]
default = [
  "robonomics-service/ipci",
  "robonomics-service/kusama",
  "robonomics-service/wasmtime",
]

# Lightweight node build
zero = [ "robonomics-service/zero" ]

# Build node for benchmarking
benchmarks = [
  "robonomics-service/full",
  "robonomics-service/runtime-benchmarks",
]
