[package]
name = "robonomics-node"
version = "3.0.0"
authors = ["Airalab <research@aira.life>"]
description = "Robonomics node implementation in Rust & Substrate."
edition = "2021"
license = "Apache-2.0"
homepage = "https://robonomics.network"
repository = "https://github.com/airalab/robonomics"
default-run = "robonomics"

[badges]
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "airalab/robonomics" }
is-it-maintained-open-issues = { repository = "airalab/robonomics" }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "robonomics"
path = "src/main.rs"

[dependencies]
parity-util-mem = { version = "0.11", default-features = false, features = [
  "jemalloc-global",
] }
robonomics-service = { path = "../../service", default-features = false }
tokio = { version = "1.23.0", features = ["full"]  }

[features]
default = ["robonomics-service/kusama", "robonomics-service/wasmtime"]

# Lightweight node build
zero = ["robonomics-service/zero"]

# Discovery service
discovery = [ "robonomics-service/discovery" ]

# Build node for benchmarking
benchmarks = [
  "robonomics-service/full",
  "robonomics-service/runtime-benchmarks",
]
