[package]
name = "pallet-robonomics-cps-rpc-runtime-api"
description = "Runtime API for Robonomics CPS Indexer"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license = "Apache-2.0"

[dependencies]
parity-scale-codec = { workspace = true }
sp-api = { workspace = true }
sp-std = { workspace = true }

[features]
default = ["std"]
std = [
  "parity-scale-codec/std",
  "sp-api/std",
  "sp-std/std",
]
