[package]
name = "pallet-robonomics-launch"
description = "Robonomics Network robot launch Substrate runtime module"
version = "0.1.1"
authors = ["Airalab <research@aira.life>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" , default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" , default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" , default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" , default-features = false }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "rococo-branch" }
node-primitives = { path = "../../../bin/node/primitives" }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-std/std",
    "sp-runtime/std",
    "frame-system/std",
    "frame-support/std",
]
