name: Auto Format
permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: false

jobs:
  auto-format:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false

      - name: Run cargo fmt
        run: cargo fmt

      - name: Install and run taplo fmt
        run: |
          if taplo --version &> /dev/null; then
            echo "taplo-cli is already installed"
          else
            curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
              | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          fi
          taplo fmt

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Apply auto-formatting changes
