name: Cachix

on:
  push:
    branches:
    - 'master'
    - 'release/*'
    - 'feat/*'

permissions:
  contents: read

jobs:
  cachix-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-25.11
      - uses: cachix/cachix-action@v15
        with:
          name: aira
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build
      - run: nix develop --command bash -c "echo OK"
