name: Rust Code Style 
on: [push,pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Check code style 
        run: cargo fmt -- --check
