name: Integration
on:
  push:
    tags:
      - v*
jobs:
  native:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - name: Install LLVM (windows only)
      if: runner.os == 'Windows'
      run: choco install llvm

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2020-09-20'
        targets: 'wasm32-unknown-unknown'

    - name: Checkout the source code
      uses: actions/checkout@master

    - name: Check targets are installed correctly
      run: rustup target list --installed

    - name: Install libudev dependecy
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt update && sudo apt install libudev-dev

    - name: Install ROS Melodic
      if: matrix.os == 'ubuntu-latest'
      run: ./scripts/ros-install.sh

    - name: Build optimized binary
      run: cargo build --release --verbose
    
    - name: Build and push Docker image
      if: matrix.os == 'ubuntu-latest'
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: airalab/robonomics
        tag_with_ref: true
        tags: latest
        add_git_labels: true
        dockerfile: scripts/docker/Dockerfile
        path: target/release

    - name: Upload binary archive into IPFS
      if: runner.os != 'Windows'
      run: |
        cd target/release
        tar cfJ robonomics-${{ matrix.os }}-x86_64.tar.xz robonomics
        curl "https://ipfs.infura.io:5001/api/v0/add" -F file=@robonomics-${{ matrix.os }}-x86_64.tar.xz

    - uses: actions/upload-artifact@master
      if: runner.os != 'Windows'
      with:
        name: robonomics-${{ matrix.os }}-x86_64.tar.xz
        path: target/release/robonomics-${{ matrix.os }}-x86_64.tar.xz

    - name: Upload binary archive into IPFS (windows only)
      if: runner.os == 'Windows'
      run: |
        cd target/release
        tar czf robonomics-${{ matrix.os }}-x86_64.tar.gz robonomics.exe
        curl "https://ipfs.infura.io:5001/api/v0/add" -F file=@robonomics-${{ matrix.os }}-x86_64.tar.gz

    - uses: actions/upload-artifact@master
      if: runner.os == 'Windows'
      with:
        name: robonomics-${{ matrix.os }}-x86_64.tar.gz
        path: target/release/robonomics-${{ matrix.os }}-x86_64.tar.gz

  nix-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09
    - run: nix-shell --run "cargo build --release"

  nix-wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09
    - run: nix-shell --run "make -C bin/node/cli/browser"
