name: Integration
on:
  push:
    branches:
    - master
  create:
    tags:
    - v*

jobs:
  default:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    env:
      EXE_EXT: ${{ contains(matrix.os, 'windows') && '.exe' || '' }}

    steps:
    - name: Install LLVM (windows only)
      if: runner.os == 'Windows'
      run: choco install llvm

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2020-09-20'
        targets: 'wasm32-unknown-unknown'

    - name: Checkout the source code
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Build & test optimized binary
      run: |
        cargo test --locked --release

    - uses: actions/upload-artifact@master
      with:
        name: robonomics-${{ matrix.os }}
        path: target/release/robonomics${{ env.EXE_EXT }}

  nix:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09

    - name: Build using Nix shell
      run: nix-shell --run "cargo build --release"

  wasm:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2020-09-20'
        targets: 'wasm32-unknown-unknown'

    - name: Install build tools
      run: |
        cargo install --git https://github.com/rustwasm/wasm-bindgen wasm-bindgen-cli --force

    - name: Build web node
      run: make pkg --directory bin/node/cli/browser

    - uses: actions/upload-artifact@master
      with:
        name: robonomics-web-node
        path: bin/node/cli/browser/pkg 

  benchmarks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2020-09-20'
        targets: 'wasm32-unknown-unknown'

    - name: Build runtime benchmarks version
      run: |
        cd bin/node/cli
        cargo build --release --no-default-features --features cli,wasmtime,runtime-benchmarks 
        cd ../../..

    - uses: actions/upload-artifact@master
      with:
        name: robonomics-benchmarks
        path: target/release/robonomics

  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: robonomics/robonomics
        tag-sha: true # add git short SHA as Docker tag

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2020-09-21'
        targets: 'wasm32-unknown-unknown'

    - name: Build optimized binary
      run: |
        cargo build --locked --release
        cp target/release/robonomics scripts/docker

    - name: Push docker image
      uses: docker/build-push-action@v2
      with:
        context: scripts/docker 
        platforms: linux/amd64
        labels: ${{ steps.docker_meta.outputs.labels }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        push: true

  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09

    - name: Build crates documentation
      run: nix-shell --run "cargo doc --all --no-deps"

    - name: Push index.html
      run: echo "<meta http-equiv=\"refresh\" content=\"0; URL='./robonomics_protocol/index.html'\" />" > ./target/doc/index.html

    - name: Deploy crates.robonomics.network
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/doc
        cname: crates.robonomics.network
