name: Nightly
permissions:
  contents: read

on:
  push:
    branches:
    - 'master'

  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
    outputs:
      status:
        description: "Status of nightly builds"
        value: ${{ jobs.release-binary.outputs.status && jobs.docker.outputs.status && jobs.srtool.outputs.status }}

env:
  SUBWASM_VERSION: 0.16.1

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  benchmarks:
    uses: ./.github/workflows/benchmarks.yml

  release-binary:
    needs: tests
    name: Binary - ${{ matrix.platform.os-name }}
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      matrix:
        platform:
          - os-name: Alpine-x86_64
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os-name: Alpine-aarch64
            runs-on: ubuntu-latest
            target: aarch64-unknown-linux-musl
          - os-name: Windows-x86_64
            runs-on: windows-latest
            target: x86_64-pc-windows-msvc
          - os-name: macOS-x86_64
            runs-on: macOS-latest
            target: x86_64-apple-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          toolchain: "1.88.0"
          force-use-cross: ${{ matrix.platform.runs-on == ubuntu-latest }}
          use-rust-cache: true
          target: ${{ matrix.platform.target }}
          args: "--locked --profile production"
          strip: true
      - name: Set artifact name
        env:
          TARGET: ${{ matrix.platform.target }}
        run: echo "::set-output name=name::robonomics-${TARGET%%-*}"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-name.outputs.name }}
          path: target/${{ matrix.platform.target }}/production/robonomics

  docker:
    needs: release-binary
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker meta
      id: docker_meta
      uses: docker/metadata-action@v5
      with:
        images: robonomics/robonomics
        tags: type=sha # add git short SHA as Docker tag

    - name: Download pre-built amd64 linux collator binary
      uses: actions/download-artifact@v4
      with:
        name: robonomics-x86_64-unknown-linux-musl
        path: scripts/docker/amd64/

    - name: Download pre-built aarch64 linux collator binary
      uses: actions/download-artifact@v4
      with:
        name: robonomics-aarch64-unknown-linux-musl
        path: scripts/docker/arm64/

    - name: Make binary executable and copy it to docker folder
      run: |
        chmod +x scripts/docker/amd64/robonomics
        chmod +x scripts/docker/arm64/robonomics

    - name: Build & Push docker image
      uses: docker/build-push-action@v6
      with:
        context: scripts/docker
        platforms: linux/amd64,linux/arm64
        labels: ${{ steps.docker_meta.outputs.labels }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        push: true

  srtool:
    needs: tests
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}

    steps:
    - uses: actions/checkout@v3

    - name: Srtool build
      id: srtool_build
      uses: chevdor/srtool-actions@v0.9.2
      env:
        BUILD_OPTS: "--features on-chain-release-build"
      with:
        chain: robonomics 
        runtime_dir: runtime/robonomics

    - name: Summary
      run: |
        echo '${{ steps.srtool_build.outputs.json }}' | jq > robonomics-srtool-digest.json
        cat robonomics-srtool-digest.json
        echo "Compact Runtime: ${{ steps.srtool_build.outputs.wasm }}"
        echo "Compressed Runtime: ${{ steps.srtool_build.outputs.wasm_compressed }}"
        cp ${{ steps.srtool_build.outputs.wasm }} robonomics_runtime.compact.wasm
        cp ${{ steps.srtool_build.outputs.wasm_compressed }} robonomics_runtime.compact.compressed.wasm

    # We now get extra information thanks to subwasm
    - name: Install subwasm
      run: |
        wget https://github.com/chevdor/subwasm/releases/download/v${{ env.SUBWASM_VERSION }}/subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
        sudo dpkg -i subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
        subwasm --version

    - name: Show Runtime information
      shell: bash
      run: |
        subwasm info ${{ steps.srtool_build.outputs.wasm }}
        subwasm info ${{ steps.srtool_build.outputs.wasm_compressed }}
        subwasm --json info ${{ steps.srtool_build.outputs.wasm }} > robonomics-info.json
        subwasm --json info ${{ steps.srtool_build.outputs.wasm_compressed }} > robonomics-compressed-info.json

    - name: Extract the metadata
      shell: bash
      run: |
        subwasm meta ${{ steps.srtool_build.outputs.wasm }}
        subwasm --json meta ${{ steps.srtool_build.outputs.wasm }} > robonomics-metadata.json

    - name: Check the metadata diff
      shell: bash
      # the following subwasm call will error for chains that are not known and/or live, that includes shell for instance
      run: |
        subwasm diff ${{ steps.srtool_build.outputs.wasm }} --chain-b robonomics || \
          echo "Subwasm call failed, check the logs. This is likely because robonomics is not known by subwasm" | \
          tee robonomics-diff.txt

    - name: Archive Artifacts for robonomics runtime
      uses: actions/upload-artifact@v4
      with:
        name: robonomics-runtime
        path: |
          robonomics_runtime.compact.wasm
          robonomics_runtime.compact.compressed.wasm
          robonomics-srtool-digest.json
          robonomics-info.json
          robonomics-compressed-info.json
          robonomics-metadata.json
          robonomics-diff.txt
