name: Nightly Binary Build
permissions:
  contents: read

on:
  push:
    branches:
    - 'master'
  workflow_dispatch:
  workflow_call:
    outputs:
      status:
        description: "Status of nightly builds"
        value: ${{ jobs.native-linux.outputs.status && jobs.native-macos.outputs.status && jobs.docker.outputs.status && jobs.srtool.outputs.status }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.build_script }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  SUBWASM_VERSION: 0.16.1

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  native-linux:
    needs: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
        - x86_64-unknown-linux-gnu
        - aarch64-unknown-linux-gnu
    outputs:
      status: ${{ job.status }}

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v3

    - name: aarch64 setup
      if: contains(matrix.target, 'aarch64')
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y gcc-multilib g++-multilib
        sudo apt install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

    - name: Install rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        cache-shared-key: "nightly-build"

    - name: Add aarch64 target
      if: contains(matrix.target, 'aarch64')
      run: rustup target add ${{ matrix.target }}

    - name: Install deps
      run: sudo apt -y install pkg-config protobuf-compiler

    - name: Build optimized binary
      run: cargo build --profile production --target ${{ matrix.target }} --verbose --locked

    - name: Set artifact name
      env:
        TARGET: ${{ matrix.target }}
      id: artifact-name
      run: echo "::set-output name=name::robonomics-ubuntu-latest-${TARGET%%-*}"

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.artifact-name.outputs.name }}
        path: target/${{ matrix.target }}/production/robonomics

  native-macos:
    needs: tests
    runs-on: macos-latest
    outputs:
      status: ${{ job.status }}

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v3

    - name: Install rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        cache-shared-key: "nightly-build"

    - name: Install deps
      run: brew install protobuf

    - name: Build optimized binary
      run: cargo build --profile production --verbose --locked

    - uses: actions/upload-artifact@v4
      with:
        name: robonomics-macOS-latest-x86_64
        path: target/production/robonomics

  docker:
    needs: native-linux
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: robonomics/robonomics
        tag-sha: true # add git short SHA as Docker tag

    - name: Download pre-built amd64 linux collator binary
      uses: actions/download-artifact@v4
      with:
        name: robonomics-ubuntu-latest-x86_64
        path: scripts/docker/amd64/

    - name: Download pre-built aarch64 linux collator binary
      uses: actions/download-artifact@v4
      with:
        name: robonomics-ubuntu-latest-aarch64
        path: scripts/docker/arm64/

    - name: Make binary executable and copy it to docker folder
      run: |
        chmod +x scripts/docker/amd64/robonomics
        chmod +x scripts/docker/arm64/robonomics

    - name: Build & Push docker image
      uses: docker/build-push-action@v3
      with:
        context: scripts/docker
        platforms: linux/amd64,linux/arm64
        labels: ${{ steps.docker_meta.outputs.labels }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        push: true

  srtool:
    needs: tests
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Srtool build
      id: srtool_build
      uses: chevdor/srtool-actions@v0.9.2
      env:
        BUILD_OPTS: "--features on-chain-release-build"
      with:
        chain: robonomics 
        runtime_dir: runtime/robonomics

    - name: Summary
      run: |
        echo '${{ steps.srtool_build.outputs.json }}' | jq > robonomics-srtool-digest.json
        cat robonomics-srtool-digest.json
        echo "Compact Runtime: ${{ steps.srtool_build.outputs.wasm }}"
        echo "Compressed Runtime: ${{ steps.srtool_build.outputs.wasm_compressed }}"
        cp ${{ steps.srtool_build.outputs.wasm }} robonomics_runtime.compact.wasm
        cp ${{ steps.srtool_build.outputs.wasm_compressed }} robonomics_runtime.compact.compressed.wasm

    # We now get extra information thanks to subwasm
    - name: Install subwasm
      run: |
        wget https://github.com/chevdor/subwasm/releases/download/v${{ env.SUBWASM_VERSION }}/subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
        sudo dpkg -i subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
        subwasm --version

    - name: Show Runtime information
      shell: bash
      run: |
        subwasm info ${{ steps.srtool_build.outputs.wasm }}
        subwasm info ${{ steps.srtool_build.outputs.wasm_compressed }}
        subwasm --json info ${{ steps.srtool_build.outputs.wasm }} > robonomics-info.json
        subwasm --json info ${{ steps.srtool_build.outputs.wasm_compressed }} > robonomics-compressed-info.json

    - name: Extract the metadata
      shell: bash
      run: |
        subwasm meta ${{ steps.srtool_build.outputs.wasm }}
        subwasm --json meta ${{ steps.srtool_build.outputs.wasm }} > robonomics-metadata.json

    - name: Check the metadata diff
      shell: bash
      # the following subwasm call will error for chains that are not known and/or live, that includes shell for instance
      run: |
        subwasm diff ${{ steps.srtool_build.outputs.wasm }} --chain-b robonomics || \
          echo "Subwasm call failed, check the logs. This is likely because robonomics is not known by subwasm" | \
          tee robonomics-diff.txt

    - name: Archive Artifacts for robonomics runtime
      uses: actions/upload-artifact@v4
      with:
        name: robonomics-runtime
        path: |
          robonomics_runtime.compact.wasm
          robonomics_runtime.compact.compressed.wasm
          robonomics-srtool-digest.json
          robonomics-info.json
          robonomics-compressed-info.json
          robonomics-metadata.json
          robonomics-diff.txt
