name: Release Draft Build
permissions:
  contents: read

on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:

jobs:
  nightly:
    uses: ./.github/workflows/nightly.yml

  publish-release-draft:
    needs: nightly
    runs-on: ubuntu-latest
    outputs:
      release_url: ${{ steps.create-release.outputs.html_url }}
      upload_url: ${{ steps.create-release.outputs.upload_url }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Download runtime
      uses: actions/download-artifact@v4
      with:
        name: robonomics-runtime
        path: runtime-artifacts

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x

    - name: Get the latest release
      id: latest-release
      uses: pozetroninc/github-action-get-latest-release@v0.5.0
      with:
        repository: airalab/robonomics
        excludes: "prerelease, draft"

    - name: Generate Release Body
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      id: generate-release-body
      run: |
        cd .github/scripts
        yarn
        yarn -s run ts-node generate-release-body.ts generate --owner "${{ github.repository_owner }}" --repo "$(basename ${{ github.repository }})" --from "${{ steps.latest-release.outputs.release }}" --to "${{ github.ref_name }}" --srtool-report-folder '../../runtime-artifacts/' > ../../body.md

    - name: Create Release Draft
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        release_name: ${{ github.ref_name }}
        body_path: body.md
        draft: true

  upload-binaries:
    needs: publish-release-draft
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["ubuntu", "macOS"]
        arch: ["x86_64", "aarch64"]
        exclude:
        - os: macOS
          arch: aarch64
    steps:
    - name: Create download folder
      run: |
        mkdir -p ${{ matrix.os }}-${{ matrix.arch }}-bin

    - name: Download pre-built collator binary
      uses: actions/download-artifact@v4
      with:
        name: robonomics-${{ matrix.os }}-latest-${{ matrix.arch }}
        path: ${{ matrix.os }}-${{ matrix.arch }}-bin

    - name: Make binary executable and tar gzip
      run: |
        cd ${{ matrix.os }}-${{ matrix.arch }}-bin
        chmod +x robonomics
        tar zcvf robonomics.tar.gz robonomics

    - name: Upload binary artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.publish-release-draft.outputs.upload_url }}
        asset_path: ${{ matrix.os }}-${{ matrix.arch }}-bin/robonomics.tar.gz
        asset_name: robonomics-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz
        asset_content_type: application/gzip

  upload-runtimes:
    needs: publish-release-draft
    runs-on: ubuntu-latest
    steps:
    - name: Download runtime
      uses: actions/download-artifact@v4
      with:
        name: robonomics-runtime

    - name: Get runtime version
      id: get-runtime-version
      run: |
        ls -R
        chain=robonomics
        runtime_version=$(cat robonomics-compressed-info.json | jq '.core_version' | tr -d '"' | cut -d ' ' -f 1)
        echo $runtime_version
        echo "runtime=$(echo $runtime_version)" >> $GITHUB_ENV
        echo "$robonomics=$(echo $runtime_version)" >> $GITHUB_OUTPUT

    - name: Upload Robonomics Wasm
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.publish-release-draft.outputs.upload_url }}
        asset_path: robonomics_runtime.compact.compressed.wasm
        asset_name: ${{ env.runtime }}.wasm
        asset_content_type: application/wasm

    - name: Upload Robonomics Metadata
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.publish-release-draft.outputs.upload_url }}
        asset_path: robonomics-metadata.json
        asset_name: robonomics-metadata.json
        asset_content_type: application/json

    - name: Upload Robonomics Compressed Info
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.publish-release-draft.outputs.upload_url }}
        asset_path: robonomics-compressed-info.json
        asset_name: robonomics-compressed-info.json
        asset_content_type: application/json

    - name: Upload Robonomics Srtool Digest
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.publish-release-draft.outputs.upload_url }}
        asset_path: robonomics-srtool-digest.json
        asset_name: robonomics-srtool-digest.json
        asset_content_type: application/json

    outputs:
      main_runtime_version: ${{ steps.get-runtime-version.outputs.main }}
