name: robonomics-bench build 
on:
  push:
    branches:
    - master

jobs:
  binary:
    name: Binary (${{ matrix.target }})
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        target:
        - x86_64-unknown-linux-gnu

    env:
      EXE_PATH: ${{ contains(matrix.target, 'x86_64') && '' || format('/{0}', matrix.target) }} 

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2021-06-03
        target: ${{ matrix.target }}
        components: rustfmt, clippy
        default: true

    - name: Install WASM target (for runtime building)
      run: rustup target add wasm32-unknown-unknown --toolchain nightly-2021-06-03

    - name: Build optimized binary
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --locked --target ${{ matrix.target }} -p robonomics-bench

    - name: Upload build artifacts
      uses: actions/upload-artifact@master
      with:
        name: robonomics-bench-${{ matrix.target }}
        path: target${{ env.EXE_PATH }}/release/robonomics-bench
