name: Syntax
permissions:
  contents: read

on: 
  workflow_call:
    outputs:
      status:
        description: "Status of the static checks"
        value: ${{ jobs.fmt.outputs.status && jobs.check-license.outputs.status }}

jobs:
  fmt:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false

      - name: Check fmt
        run: cargo fmt -- --check

      - name: Check Cargo.toml format
        run: |
          if taplo --version &> /dev/null; then
            echo "taplo-cli is already installed"
          else
            curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
              | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          fi
          taplo fmt --check

  check-license:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Check license
        uses: viperproject/check-license-header@v2
        with:
          path: ./
          config: ./.github/license-check/config.json
          strict: false
