name: Static Checks 
permissions:
  contents: write
  pull-requests: write

on:
  workflow_call:
    outputs:
      status:
        description: "Status of the static checks"
        value: ${{ jobs.check-formatting.result == 'success' && jobs.check-license.result == 'success' }}

jobs:
  auto-format:
    if: github.event_name == 'pull_request' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false
          components: rustfmt

      - name: Run cargo fmt
        run: cargo fmt

      - name: Cache taplo binary
        id: cache-taplo
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/taplo
          key: taplo-cli-${{ runner.os }}

      - name: Install taplo
        if: steps.cache-taplo.outputs.cache-hit != 'true'
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
            | gzip -d - | sudo install -m 755 /dev/stdin /usr/local/bin/taplo

      - name: Run taplo fmt
        run: taplo fmt

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Apply auto-formatting changes

  check-formatting:
    needs: auto-format
    if: always() && (github.event.pull_request.draft == false || github.event_name == 'workflow_call')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5

      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false
          components: rustfmt

      - name: Check Rust formatting
        run: cargo fmt -- --check

      - name: Cache taplo binary
        id: cache-taplo
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/taplo
          key: taplo-cli-${{ runner.os }}

      - name: Install taplo
        if: steps.cache-taplo.outputs.cache-hit != 'true'
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
            | gzip -d - | sudo install -m 755 /dev/stdin /usr/local/bin/taplo

      - name: Check Cargo.toml format
        run: taplo fmt --check

  check-license:
    needs: auto-format
    if: always() && (github.event.pull_request.draft == false || github.event_name == 'workflow_call')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5

      - name: Check license
        uses: viperproject/check-license-header@v2
        with:
          path: ./
          config: ./.github/license-check/config.json
          strict: false
