name: Tests
on:
  push:
    branches:
    - '**'
    tags-ignore:
    - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:
  workflow_call:
    outputs:
      test_status:
        description: "Status of the tests"
        value: ${{ jobs.check-and-tests.outputs.status }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  base-checks:
    uses: ./.github/workflows/base_checks.yaml

  checks-and-tests:
    needs: base-checks
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
    - name: Free disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        df -h

    - name: Checkout the source code
      uses: actions/checkout@v3

    - name: Install rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Install deps
      run: sudo apt -y install protobuf-compiler

    - name: Check all features compilation
      run: cargo check --verbose --features runtime-benchmarks --locked

    - name: Run all tests
      run: cargo test --features runtime-benchmarks --locked
