name: Tests
permissions:
  contents: write

on:
  push:
    branches:
    - 'feat/*'
    - 'fix/*'
    - 'release/*'
  workflow_call:
    outputs:
      status:
        description: "Status of the tests"
        value: ${{ jobs.unit-tests.outputs.status && jobs.runtime-benchmarks.outputs.status }}

jobs:
  static-checks:
    uses: ./.github/workflows/static.yml

  unit-tests:
    needs: static-checks
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-25.11
        extra_nix_config: |
          experimental-features = nix-command flakes
          accept-flake-config = true

    - uses: Swatinem/rust-cache@v2

    - name: Run all workspace tests
      run: nix develop --command cargo test --workspace --locked

  runtime-benchmarks:
    needs: static-checks
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-25.11
        extra_nix_config: |
          experimental-features = nix-command flakes
          accept-flake-config = true

    - uses: Swatinem/rust-cache@v2

    - name: Build runtime with benchmarks
      run: nix develop --command cargo build -p robonomics-runtime --features runtime-benchmarks --locked
