name: Testing 
on: [pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-21.05
    - name: Run all tests
      run: nix-shell --run "export LD_LIBRARY_PATH=$(dirname $(find /nix/store -name libz.so.1.* | grep libz.so.1)) && cargo test --all --locked"
